/.direnv
/.envrc
/.envrc.local

**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json
.terraformrc
/tfplan
crash.*.log
crash.log
override.tf
override.tf.json
terraform.rc

/credentials/ssh-keys/*/*
!/credentials/ssh-keys/*/*.pub
.DS_Store
**/.terraform.lock.hcl
**/tfplan
.vscode
